@charset "utf-8";

/* -------- 연혁 -------- */ 
.history-page {font-family:'Pretendard', "나눔고딕", NanumGothic, "Nanum Gothic","돋움", Dotum, Arial, sans-serif; margin-top: -100px;}
.history-wrapper {position: relative; margin: 0 auto; max-width: 132rem;}
.certifi-tab-style {z-index: 9; width: 66rem;}
.certifi-content-style {position: relative; width: calc(100% - 66rem);  box-sizing: border-box;}
.certifi-tab-style .cm-drop-list-JS {display:none;}
.certifi-tab-style .certifi-tab-list-style{transition:top 0.8s ease-in-out;}
.certifi-tab-style .certifi-tab-list-style.top-fixed {position: fixed; top:var(--header-height);}
.history-con-box.up .certifi-tab-style .certifi-tab-list-style.top-fixed {top: calc(var(--header-height)/* + 10rem*/);}
.certifi-tab-style .certifi-tab-list-style.bottom-fixed{position: absolute; top:auto; bottom:0;}

.certifi-tab-list-style .year-count {margin-top: 4.3rem; left: -1.5rem; font-size: 14rem; line-height: 1.33; letter-spacing: -0.04em; color: #000; font-weight: 700;}
.count-num-box {display:flex; align-items:center;}
#yearCount .count-num-item-wrap {height: 1em; overflow: hidden; /* margin: 0 -0.2rem; */}
#yearCount .count-num-item-wrap .count-num-item-box {height: 10em; transition: all 0.2s; will-change: transform;}
.count-num-item-wrap .count-num-item-box.counting0 {transform: translate3d(0, -0%, 0);}
.count-num-item-wrap .count-num-item-box.counting1 {transform: translate3d(0, -10%, 0);}
.count-num-item-wrap .count-num-item-box.counting2 {transform:translate3d(0, -20%, 0);}
.count-num-item-wrap .count-num-item-box.counting3 {transform: translate3d(0, -30%, 0);}
.count-num-item-wrap .count-num-item-box.counting4 {transform:translate3d(0, -40%, 0);}
.count-num-item-wrap .count-num-item-box.counting5 {transform: translate3d(0, -50%, 0);}
.count-num-item-wrap .count-num-item-box.counting6 {transform: translate3d(0, -60%, 0);}
.count-num-item-wrap .count-num-item-box.counting7 {transform: translate3d(0, -70%, 0);}
.count-num-item-wrap .count-num-item-box.counting8 {transform: translate3d(0, -80%, 0);}
.count-num-item-wrap .count-num-item-box.counting9 {transform: translate3d(0, -90%, 0);}
/* num04 */
.count-num-item-wrap.num04 .count-num-item-box.counting0 {transform: translate3d(0, -10%, 0);}
.count-num-item-wrap.num04 .count-num-item-box.counting1 {transform: translate3d(0, -20%, 0);}
.count-num-item-wrap.num04 .count-num-item-box.counting2 {transform:translate3d(0, -30%, 0);}
.count-num-item-wrap.num04 .count-num-item-box.counting3 {transform: translate3d(0, -40%, 0);}
.count-num-item-wrap.num04 .count-num-item-box.counting4 {transform:translate3d(0, -50%, 0);}
.count-num-item-wrap.num04 .count-num-item-box.counting5 {transform: translate3d(0, -60%, 0);}
.count-num-item-wrap.num04 .count-num-item-box.counting6 {transform: translate3d(0, -70%, 0);}
.count-num-item-wrap.num04 .count-num-item-box.counting7 {transform: translate3d(0, -80%, 0);}
.count-num-item-wrap.num04 .count-num-item-box.counting8 {transform: translate3d(0, -90%, 0);}
.count-num-item-wrap.num04 .count-num-item-box.counting9 {transform: translate3d(0, -0%, 0);}

#yearCount .count-num-item-wrap .count-num-item-box .count-num-item {display: block; filter:blur(0px); text-align:right;}

.inner-year {font-size:2rem; letter-spacing:-0.04em; color: #aaa; font-weight: 700; line-height:1.1;}
.info-item {display:flex; justify-content:space-between; margin-top: 4rem; color: #aaa; transition:color 0.3s ease;}
.info-item:first-of-type {margin-top: 0;}
.info-item .history-year {position: relative; z-index: 1; width: 8.7rem; color: #aaa; font-weight: 700; font-size: 2rem; line-height:1.4; transition:color 0.2s ease;}
.info-item .history-month-box {    position: relative; width: calc(100% - 8.7rem);}
.info-item .history-month-box .history-month-item {position: relative; display: flex; line-height: 1.4; margin-bottom: 1.2rem; transition: color 0.2s ease;}
.info-item .history-month-box .history-month-item .history-month {width: 6rem; display: block; font-size: 1.8rem; letter-spacing: -0.036em;}
.info-item .history-month-box .history-month-item .history-month + .history-detail-txt-con {width: calc(100% - 6rem);}
.info-item .history-month-box .history-month-item .history-detail-txt {font-size:1.8rem; letter-spacing: -0.036em; margin-bottom: 1.2rem;}
.info-item .history-month-box .history-month-item .history-detail-txt:last-of-type {margin-bottom: 0;}
.info-item.on {color: #000;}
.info-item.on .history-year {color: #000;}

.history-top-box {position: relative; height: 8.1rem; margin-bottom: 15rem; z-index: 10;}
.history-type-box {display:flex; justify-content:center; width: 100%;  border-bottom:1px solid #ddd; background-color:#fff; z-index: 10;}
.history-type-box .type-inner-box {width: 132rem; }
.history-type-box ul {display:flex;}
.history-type-box ul li {position: relative; width: 25%; text-align:center;}
.history-type-box ul li:after {display: block; content: ""; position: absolute; bottom: 0; left: 0; width: 100%; height: 4px; background: #E31332; opacity: 0; transition:all 0.2s ease;}
.history-type-box ul li a {padding: 3.1rem 0; display: flex; justify-content: center; align-items: center; font-size:1.9rem; color: #000; font-weight: 700; letter-spacing:-0.038em; transition:all 0.3s ease;}
.history-type-box.top-fixed {position:fixed; top:0; width: 100%; transition:var(--transition-custom2);}
.history-con-box.up .history-type-box.top-fixed {/* top: var(--header-height); */ transform:translateY(-100%);}
.history-type-box ul li.selected:after {opacity: 1;}
.history-type-box ul li.selected a {color: #E31332;}

.history-tit-box .history-tit {font-size:2.4rem; letter-spacing:-0.048em; color: #E31332; font-weight: 700; height:2.4rem; overflow:hidden;}
.history-tit-box .history-txt {font-size:5rem; letter-spacing:-0.01em; font-weight: 800; color: #000; line-height:1.4em; margin-top: 1.6rem; height:7rem; overflow:hidden;}
.history-tit-box .history-tit p,
.history-tit-box .history-txt p{transition: all 0.2s; will-change: transform;}
.selected1.history-tit-box .history-tit p,
.selected1.history-tit-box .history-txt p{transform:translateY(0%)}
.selected2.history-tit-box .history-tit p,
.selected2.history-tit-box .history-txt p{transform:translateY(-100%)}
.selected3.history-tit-box .history-tit p,
.selected3.history-tit-box .history-txt p{transform:translateY(-200%)}
.selected4.history-tit-box .history-tit p,
.selected4.history-tit-box .history-txt p{transform:translateY(-300%)}

.since-txt {margin-top: 14rem; font-size:20rem; letter-spacing:-0.012em; color: rgba(0,0,0,0.03); font-weight: 800;}
.since-txt p:first-child {font-size:8rem; letter-spacing:-0.048em;}

.sub-tab-con {margin-top: 8.2rem;}
.sub-tab-con:first-of-type {margin-top: 0;}

/* botom-fixed 일 때 */
.certifi-tab-list-style.bottom-fixed {position:absolute; bottom:0; top:auto !important; height:auto; transition:top 0s 0s;}
.history-wrapper .cm-fixed-tab-container-JS {display:flex; position: relative;}


/* Global :: 카운트 */
.count-num-box{display:flex; align-items:center;}
.count-num-item-wrap{height:1em; overflow:hidden;}
.count-num-item-wrap .count-num-item-box{height:10em; }
.count-num-item-wrap .count-num-item-box .count-num-item {line-height: 1em; color:inherit; font-weight:700; filter:blur(1px);}
.count-num-item-wrap .count-num-item-box .count-num-item:first-child{filter:blur(0px);}
.count-num-item.comma{transform: translateY(0.1em);}

.global-info-num-list .list-item.factory .count-num-box{padding-right:0.5rem;}
 
/* active */
.animated:not(.history-left-box) .count-num-item-box{animation:count-up-ani 2s cubic-bezier(1, 1, 1, 1);}
.animated:not(.history-left-box) .count-num-item-box.down {animation:count-down-ani 2s cubic-bezier(1, 1, 1, 1);}

.animated .num01 .count-num-item-box{animation-duration:2s;}
.animated .num02 .count-num-item-box{animation-duration:2.2s;}
.animated .num03 .count-num-item-box{animation-duration:4.2s;}
.animated .num04 .count-num-item-box{animation-duration:5.3s;}
.animated .num05 .count-num-item-box{animation-duration:6.4s;}

@keyframes count-up-ani {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(0, -180%, 0);
    }
}
@keyframes count-down-ani {
    0% {
        transform: translate3d(0, -190%, 0);
    }
    100% {
        transform: translate3d(0, 0, 0);
    }
}           